body{background-color: #201717;}
h1{color: rgb(245, 64, 58); font-family: Garamond; font-size: 50px}
p{color: #FF0040; font-family: Helvetica; font-size: 20px; font-style: italic;}
a{color: #D41313; font-family: Helvetica; font-size: 20px; text-decoration: none;}
a:hover{color : white;}